/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* changa-one-regular - latin */
@font-face {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/changa-one-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/changa-one-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/changa-one-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/changa-one-v16-latin-regular.svg#ChangaOne') format('svg'); /* Legacy iOS */
}
body{
    background-color: #fdfffc;
    color:#011627;
    font-size: 100%;
    line-height: 1.4;


;
}